.products-container {
  margin: 1.5rem 2.5rem;
}

.products-paper {
  margin-top: 24px;
  height: 75vh;
  border-radius: 12px;
  overflow: hidden;
}

.products-data-grid {
  height: 100%;
}

.MuiDataGrid-root {
  border: none;
  background-color: var(--background-default);
}

.MuiDataGrid-cell {
  border-bottom: none;
  color: var(--secondary-100);
}

.MuiDataGrid-columnHeaders {
  background-color: var(--background-alt);
  color: var(--secondary-100);
  border-bottom: none;
  font-weight: bold;
}

.MuiDataGrid-virtualScroller {
  background-color: var(--background-default);
}

.MuiDataGrid-footerContainer {
  background-color: var(--background-alt);
  color: var(--secondary-100);
  border-top: none;
}

.MuiDataGrid-toolbarContainer {
  background-color: var(--background-default);
  padding: 8px 16px;
}

.MuiDataGrid-toolbarContainer .MuiButton-text {
  color: var(--secondary-200) !important;
}

.MuiDataGrid-row:hover {
  background-color: var(--action-hover);
}

.MuiDataGrid-row:nth-of-type(even) {
  background-color: var(--action-hover);
}
