.loginPage {
    background: url('/Images/jason-goodman-bzqU01v-G54-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginform{
    background-color: rgba(1,32,93,0.6);
    color: white;
}

