.invoices-container {
  margin: 1.5rem 2.5rem;
}

.invoices-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.invoices-table {
  min-width: 650px;
}

.invoices-table-row:last-child td,
.invoices-table-row:last-child th {
  border: 0;
}

.MuiDataGrid-root {
  border: none;
  background-color: var(--background-default);
}

.MuiDataGrid-cell {
  border-bottom: none;
  color: var(--secondary-100);
}

.MuiDataGrid-columnHeaders {
  background-color: var(--background-alt);
  color: var(--secondary-100);
  border-bottom: none;
}

.MuiDataGrid-virtualScroller {
  background-color: var(--background-default);
}

.MuiDataGrid-footerContainer {
  background-color: var(--background-alt);
  color: var(--secondary-100);
  border-top: none;
}

.MuiDataGrid-toolbarContainer .MuiButton-text {
  color: var(--secondary-200) !important;
}

.MuiDataGrid-row:hover {
  background-color: var(--action-hover);
}

.MuiDataGrid-row:nth-of-type(even) {
  background-color: var(--action-hover);
}
